.background {
    background-image: url(/public/bg_login.jpg);
    background-size: cover;
}

.text-center {
    justify-content: center;
    align-items: center;
}

.alert {
    padding: 30px;
    border-radius: 10px;
}

.logo-img {
    margin-bottom: 40px;
    margin-top: 40px;
}

.error-title {
    margin-bottom: 20px;
    font-weight: bold;
}

.link-button {
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: #0050a0;
    color: #0050a0;
    background-color: transparent;
}

.link-button:hover {
    background-color: #0050a0;
    color: white;
}