.expanded-details-container {
    display: flex;
    gap: 20px;
}

.entity-photo {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.entity-photo img {
    width: 150px;
    height: 150px;
}

.entity-details-grid {
    flex: 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.entity-detail {
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.detail-key {
    font-weight: bold;
}