.background-login {
    background-image: url(/public/bg_login.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
}

.form-login input[type="email"], .form-login input[type="submit"] {
    margin: 10px;
    margin-left: -5px;
    padding: 10px;
    width: 250px;
}

.email-label {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}

.btn-my-custom-button {
    border-color: #0050a0 !important;
    color: #0050a0 !important;
    background-color: transparent !important;
    margin-top: 20px;
}

.btn-my-custom-button:hover {
    background-color: #0050a0 !important;
    color: white !important;
}