.background-login {
    background-image: url(/public/bg_login.jpg);
    background-size: cover;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-logo-p {
    margin-left: 100px;
    margin-top: 70px;
    margin-bottom: auto;
}

.login-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 150px;
}

#login .logo-login {
    max-width: 250px;
}

#login .profile-login {
    max-width: 120px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

#login .profile-login-entity {
    max-width: 120px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

#login .form-login-entity {
    display: flex;
    flex-direction: column;
    background-color: rgba(133, 133, 133, 0.5);
    border-radius: 10px;
    height: 350px;
    padding: 50px;
}

#login .header-entity {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: -40px;
    margin-bottom: 40px;
}

#login .language-login {
    display: flex;
    align-items: center;
}

#login .license-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 28%;
    height: 40px;
}

#login .button-language {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    height: 30px;
    width: 30px;
}

#login .form-login {
    display: flex;
    flex-direction: column;
    background-color: rgba(133, 133, 133, 0.5);
    border-radius: 10px;
    width: 600px;
    height: 350px;
    padding: 50px;
}

#login .row-username-password {
    display: flex;
    justify-content: center;
    align-items: center;
}

#login .col-username-password {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 2;
}

#login .form-login input[type="text"],
#login .form-login-entity input[type="text"],
#login .form-login input[type="password"] {
    height: 40px;
    width: 100%;
    border: none;
}

#login .input-username-password {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: none !important;
    height: 38px;
}

#login .input-username-password:focus {
    outline: none;
    border: none;
    border-color: none;
}

#login .image-container {
    width: 130px;
    height: 130px;
    border-radius: 10%;
    overflow: hidden;
    background-color: rgba(170, 170, 170, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#login .col-profile-img {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#login .col-profile-img-2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#login .username-password-labels {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#login .username-label {
    display: flex;
    flex-direction: column;
    align-items: start;
    color: white;
}

#login .password-label {
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 20px;
    align-items: start;
    color: white;
}

#login .password-input-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

#login .input-username-password {
    width: calc(100% - 40px);
    padding-right: 10px;
}

#login .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    height: 24px;
    width: 24px;
    padding: 0;
}

#login .toggle-password img {
    width: 100%;
    height: auto;
}

#login .buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

#login .footer-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

#login .footer-entity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    width: 100%;
}

@media (max-width: 500px) {

    .background-login {
        height: 100% !important;
        width: 100% !important;
    }

    .div-logo-p {
        display: none;
    }

    .login-container {
        justify-content: center;
        margin-left: 0;
        margin-right: 0;
    }

    #login .header-entity {
        margin-top: -50px;
        margin-bottom: 0;
    }

    #login .footer-entity {
        margin-top: 20px;
    }

    #login .form-login {
        margin-top: 10px !important;
        padding: 30px;
        width: 390px;
    }

    #login .form-login-entity {
        height: 300px !important;
    }

    #login .profile-login {
        max-width: 100px;
    }

    #login .buttons-container {
        margin-top: 20px;
    }

    #login .footer-login {
        margin-top: 30px;
    }
}

@media (min-width: 501px) and (max-width: 1200px) {

    .login-container {
        justify-content: center;
        margin-left: 0;
        margin-right: 100px;
    }

}