.background-login {
    background-image: url(/public/bg_login.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    width: 500px;
}

.form-login input[type="text"],
.form-login input[type="password"] {
    margin: 15px;
    padding: 10px;
    width: 300px;
}

.form-login input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
}

.username-password-labels {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.username-label {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    align-items: center;
}

.password-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
}

.remember_me-label {
    margin-bottom: 20px;
}

.btn-my-custom-button {
    border-color: #0050a0 !important;
    color: #0050a0 !important;
    background-color: transparent !important;
}

.btn-my-custom-button:hover {
    background-color: #0050a0 !important;
    color: white !important;
}

.btn-my-custom-link {
    color: #0050a0;
    margin-bottom: 20px;
}

.custom-progress-bar {
    background: #0050a0 !important;
}

@media (min-width: 300px) and (max-width: 500px) {

    .form-login {
        width: 350px;
    }
}