.nav-container,
.nav {
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
}

.logo {
    font-weight: bold;
    font-size: 15px;
    color: white;
    cursor: pointer;
}

.logoNG {
    font-size: 15px;
    line-height: 0;
    color: white;
    cursor: pointer;
}

.nav-container .pessoas-tab,
.nav-container .dispositivos-tab,
.nav-container .configuracao-tab,
.nav-container .ajuda-tab,
.nav-container .nclock-tab,
.nav-container .naccess-tab,
.nav-container .nvisitor-tab,
.nav-container .npark-tab,
.nav-container .ndoor-tab,
.nav-container .npatrol-tab,
.nav-container .ncard-tab,
.nav-container .nview-tab,
.nav-container .nsecur-tab,
.nav-container .nsoftware-tab,
.nav-container .nsystem-tab,
.nav-container .napp-tab,
.nav-container .ncyber-tab,
.nav-container .ndigital-tab,
.nav-container .nserver-tab,
.nav-container .naut-tab,
.nav-container .nequip-tab,
.nav-container .nproject-tab,
.nav-container .ncount-tab,
.nav-container .nbuild-tab,
.nav-container .ncaravan-tab,
.nav-container .nmechanic-tab,
.nav-container .nevents-tab,
.nav-container .nservice-tab,
.nav-container .ntask-tab,
.nav-container .nproduction-tab,
.nav-container .nticket-tab,
.nav-container .nsales-tab,
.nav-container .ninvoice-tab,
.nav-container .ndoc-tab,
.nav-container .nsports-tab,
.nav-container .ngym-tab,
.nav-container .nschool-tab,
.nav-container .nclinic-tab,
.nav-container .noptics-tab,
.nav-container .ngold-tab,
.nav-container .nsmart-tab,
.nav-container .nreality-tab,
.nav-container .nhologram-tab,
.nav-container .npower-tab,
.nav-container .ncharge-tab,
.nav-container .ncity-tab,
.nav-container .nkiosk-tab,
.nav-container .nled-tab,
.nav-container .nfire-tab,
.nav-container .nfurniture-tab,
.nav-container .npartition-tab,
.nav-container .ndecor-tab,
.nav-container .nping-tab,
.nav-container .nconnect-tab,
.nav-container .nlight-tab,
.nav-container .ncomfort-tab,
.nav-container .nsound-tab,
.nav-container .nhome-tab {
    color: white;
    height: 34px;
}

.tab-content-navbar {
    background-color: white;
}

.section {
    display: flex;
    border-bottom: 1px solid #ccc;
    background-color: white;
}

.group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid #a1a1a1;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
}

.icon img {
    width: 20px;
    height: 20px;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20px;
    background-color: #ccc;
}

.title {
    font-size: 12px;
}

.ribbon-button-pessoas,
.ribbon-button-entidades {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.icon-text-pessoas,
.dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.ribbon-button-pessoas .icon {
    margin-bottom: 2px;
}

.ribbon-button-ent,
.ribbon-icon-button {
    display: flex;
    align-items: center;
    justify-content: start;
}

.ribbon-button-pessoas,
.ribbon-button-entidades {
    display: flex;
    flex-direction: column;
}

.ribbon-button-ent .icon,
.ribbon-icon-button .icon {
    display: block;
    text-align: center;
}

.ribbon-button-ent .icon,
.ribbon-icon-button .icon {
    display: inline-block;
    margin-right: 5px;
}

.ribbon-button-entidades .icon,
.ribbon-button-entidades .text {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
}

.ribbon-button-pessoas .icon img,
.ribbon-button-entidades .icon img {
    width: 40px;
    height: 40px;
}

.ribbon-button-ent,
.ribbon-icon-button {
    background-color: transparent;
    border-color: transparent;
    font-size: 12px;
}

.icon-text-entidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.ribbon-button-entidades .icon,
.ribbon-button-informacoes .icon {
    margin-bottom: 2px;
}

.ribbon-button,
.ribbon-icon-button {
    display: flex;
    align-items: center;
    justify-content: start;
}

.ribbon-button .icon,
.ribbon-icon-button .icon {
    margin-right: 5px;
}

.ribbon-button-pessoas .icon,
.ribbon-button-pessoas .text,
.ribbon-button-informacoes .icon,
.ribbon-button-informacoes .text {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
    margin-right: 5px;
}

.ribbon-button-pessoas .icon,
.ribbon-button-informacoes .icon {
    margin-bottom: 5px;
}

.ribbon-button,
.ribbon-icon-button {
    background-color: transparent;
    border-color: transparent;
    font-size: 11px;
}

.icon-text-informacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.user-section {
    margin-left: auto;
    background-color: transparent;
    display: flex;
    height: 35px;
}

.user-info {
    font-size: 15px;
    padding: .650rem;
    color: white;
    text-transform: uppercase;
}

.user-info:hover {
    border: none;
}

.profile-avatar {
    border-radius: 50%;
}

.image-text {
    align-items: center;
    margin: 5px;
    cursor: pointer;
}

.image-text img {
    margin-right: 15px;
}

.dropdown-icon {
    color: white;
}

.dropdown-icon img {
    width: 30px;
    height: 30px;
}

.dropdown-kiosk {
    position: relative;
    z-index: 1000;
}

.ribbon-icon {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 45px;
    width: 30px;
    height: 30px;
}

.btn-light {
    padding: .25rem !important;
}

.nav-tabs {
    border-bottom: none !important;
}

.submenu {
    position: absolute;
    top: 0;
    background-color: white;
    border: 1px solid #ddd;
    z-index: 1000;
    border-radius: 5px;
}

.submenu>div {
    cursor: pointer;
}

.menu-item-image {
    width: 30px;
}

.menu-item-text {
    font-size: 14px;
}

#dropdown-navbar .dropdown-toggle,
#dropdown-navbar .dropdown-toggle:focus,
#dropdown-navbar .dropdown-toggle:active {
    outline: none;
    border: none;
    box-shadow: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

#dropdown-basic-4::after {
    display: none;
}

.nav-item,
.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item:hover,
.nav-link:hover {
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.nav-item.active .nav-link {
    border-color: white;
}

@keyframes pulseBorder {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        box-shadow: 0 0 10px 10px rgba(204, 169, 44, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

.current-active {
    animation: pulseBorder 2s infinite;
}

input::-ms-reveal,
input::-ms-clear {
    display: none;
}

@media (max-width: 500px) {

    .logos {
        margin-right: auto;
    }

    .pessoas-tab,
    .dispositivos-tab,
    .configuracao-tab,
    .ajuda-tab,
    .nclock-tab,
    .naccess-tab,
    .nvisitor-tab,
    .npark-tab,
    .ndoor-tab,
    .npatrol-tab,
    .ncard-tab,
    .nview-tab,
    .nsecur-tab,
    .nsoftware-tab,
    .nsystem-tab,
    .napp-tab,
    .ncyber-tab,
    .ndigital-tab,
    .nserver-tab,
    .naut-tab,
    .nequip-tab,
    .nproject-tab,
    .ncount-tab,
    .nbuild-tab,
    .ncaravan-tab,
    .nmechanic-tab,
    .nevents-tab,
    .nservice-tab,
    .ntask-tab,
    .nproduction-tab,
    .nticket-tab,
    .nsales-tab,
    .ninvoice-tab,
    .ndoc-tab,
    .nsports-tab,
    .ngym-tab,
    .nschool-tab,
    .nclinic-tab,
    .noptics-tab,
    .ngold-tab,
    .nsmart-tab,
    .nreality-tab,
    .nhologram-tab,
    .npower-tab,
    .ncharge-tab,
    .ncity-tab,
    .nkiosk-tab,
    .nled-tab,
    .nfire-tab,
    .nfurniture-tab,
    .npartition-tab,
    .ndecor-tab,
    .nping-tab,
    .nconnect-tab,
    .nlight-tab,
    .ncomfort-tab,
    .nsound-tab,
    .nhome-tab {
        font-size: 9.5px !important;
        margin-top: 4px;
    }

    .logoNG {
        font-size: 9.5px;
        margin: 0;
        padding: 0;
    }

    .calendar-container {
        margin: 0;
    }

    .tab-content {
        max-height: calc(100vh - 200px);
        overflow: auto;
    }

    .nav-container {
        flex-direction: column;
        align-items: center;
    }

    .title-container {
        height: 30px;
    }

    .nav-link {
        text-align: center;
        padding: 5px;
        width: 100%;
        font-size: 13px;
    }

    .user-info {
        font-size: 13px;
    }

    .user-section {
        margin-left: auto;
    }

    .submenu {
        position: relative;
        top: auto;
        left: 0;
        margin-top: 10px;
    }

    .logo {
        font-size: 15px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .group {
        width: 100%;
    }

    .btn-group {
        display: flex;
        flex-direction: column;
    }

    .ribbon-button-pessoas .icon img,
    .dropdown-content img {
        width: 40px;
        height: 40px;
    }

    .ribbon-icon {
        right: 0px;
        top: 120px;
    }

    .icon-text-informacoes,
    .icon-text-entidades {
        margin-bottom: 10px;
    }

    .cards-container {
        padding: 0px;
    }

}

@media (min-width: 501px) and (max-width: 1200px) {

    .pessoas-tab,
    .dispositivos-tab,
    .configuracao-tab,
    .ajuda-tab,
    .nclock-tab,
    .naccess-tab,
    .nvisitor-tab,
    .npark-tab,
    .ndoor-tab,
    .npatrol-tab,
    .ncard-tab,
    .nview-tab,
    .nsecur-tab,
    .nsoftware-tab,
    .nsystem-tab,
    .napp-tab,
    .ncyber-tab,
    .ndigital-tab,
    .nserver-tab,
    .naut-tab,
    .nequip-tab,
    .nproject-tab,
    .ncount-tab,
    .nbuild-tab,
    .ncaravan-tab,
    .nmechanic-tab,
    .nevents-tab,
    .nservice-tab,
    .ntask-tab,
    .nproduction-tab,
    .nticket-tab,
    .nsales-tab,
    .ninvoice-tab,
    .ndoc-tab,
    .nsports-tab,
    .ngym-tab,
    .nschool-tab,
    .nclinic-tab,
    .noptics-tab,
    .ngold-tab,
    .nsmart-tab,
    .nreality-tab,
    .nhologram-tab,
    .npower-tab,
    .ncharge-tab,
    .ncity-tab,
    .nkiosk-tab,
    .nled-tab,
    .nfire-tab,
    .nfurniture-tab,
    .npartition-tab,
    .ndecor-tab,
    .nping-tab,
    .nconnect-tab,
    .nlight-tab,
    .ncomfort-tab,
    .nsound-tab,
    .nhome-tab {
        font-size: 12px !important;
        margin: 0;
    }

    .logo {
        font-size: 12px;
    }

    .logoNG {
        font-size: 12px;
        margin: 0;
        padding: 0;
    }

    .title-container {
        height: 30px;
    }

    .section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .group {
        width: 100%;
    }

    .ribbon-button-pessoas .icon img,
    .dropdown-content img {
        width: 40px;
        height: 40px;
    }

    .icon-text-informacoes,
    .icon-text-entidades {
        margin-bottom: 10px;
    }
}