.nav-container,
.nav {
    display: flex;
    align-items: center;
    background-color: #0050a0;
    text-transform: uppercase;
}

.logo {
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    line-height: 0;
    color: white;
    cursor: pointer;
}

.pessoas-tab,
.dispositivos-tab,
.configuracao-tab,
.ajuda-tab,
.nclock-tab,
.naccess-tab,
.nvisitor-tab,
.npark-tab,
.ndoor-tab,
.npatrol-tab,
.ncard-tab,
.nview-tab,
.nsecur-tab {
    color: white;
}

.section {
    display: flex;
    border-bottom: 1px solid #ccc;
}

.group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid #a1a1a1;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
}

.icon img {
    width: 20px;
    height: 20px;
}

.title-container {
    width: 100%;
    text-align: center;
    background-color: #ccc;
}

.title {
    font-size: 12px;
}

.ribbon-button-pessoas,
.ribbon-button-entidades {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.icon-text-pessoas,
.dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.ribbon-button-pessoas .icon {
    margin-bottom: 2px;
}

.ribbon-button-ent,
.ribbon-icon-button {
    display: flex;
    align-items: center;
    justify-content: start;
}

.ribbon-button-pessoas,
.ribbon-button-entidades {
    display: flex;
    flex-direction: column;
}

.ribbon-button-ent .icon,
.ribbon-icon-button .icon {
    display: block;
    text-align: center;
}

.ribbon-button-ent .icon,
.ribbon-icon-button .icon {
    display: inline-block;
    margin-right: 5px;
}

.ribbon-button-entidades .icon,
.ribbon-button-entidades .text {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
}

.ribbon-button-pessoas .icon img,
.ribbon-button-entidades .icon img {
    width: 40px;
    height: 40px;
}

.ribbon-button-ent,
.ribbon-icon-button {
    background-color: transparent;
    border-color: transparent;
    font-size: 12px;
}

.icon-text-entidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.ribbon-button-entidades .icon,
.ribbon-button-informacoes .icon {
    margin-bottom: 2px;
}

.ribbon-button,
.ribbon-icon-button {
    display: flex;
    align-items: center;
    justify-content: start;
}

.ribbon-button .icon,
.ribbon-icon-button .icon {
    margin-right: 5px;
}

.ribbon-button-pessoas .icon,
.ribbon-button-pessoas .text,
.ribbon-button-informacoes .icon,
.ribbon-button-informacoes .text {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
    margin-right: 5px;
}

.ribbon-button-pessoas .icon,
.ribbon-button-informacoes .icon {
    margin-bottom: 5px;
}

.ribbon-button,
.ribbon-icon-button {
    background-color: transparent;
    border-color: transparent;
    font-size: 11px;
}

.icon-text-informacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.ribbon-button-informacoes .icon img,
.dropdown-content img {
    width: 50px;
    height: 50px;
}

.user-section {
    margin-left: auto;
    background-color: transparent;
    display: flex;
}

.user-info {
    font-size: 15px;
    padding: .375rem;
    color: white;
    text-transform: uppercase;
}

.image-text {
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.image-text img {
    margin-right: 15px;
}

.image-text span {
    color: #0050a0;
}

.dropdown-icon {
    color: white;
}

.dropdown-icon img {
    width: 30px;
    height: 30px;
}

.ribbon-icon {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 45px;
    width: 30px;
    height: 30px;
}

.btn-light {
    padding: .25rem !important;
}

.nav-tabs {
    border-bottom: none !important;
}

#dropdown-basic::after,
#dropdown-basic-2::after {
    display: none !important;
}

.nav-item.active .nav-link,
.nav-item:hover .nav-link {
    background-color: white;
    color: #0050a0;
    border-color: transparent;
    cursor: pointer;
}

@media (max-width: 500px) {

    .tab-content {
        max-height: calc(100vh - 200px);
        overflow-y: auto;
    }

    .nav-container {
        flex-direction: column;
        align-items: center;
    }

    .nav-link {
        text-align: center;
        padding: 5px;
        width: 100%;
    }

    .logo {
        font-size: 15px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .group {
        width: 100%;
    }

    .ribbon-button-pessoas .icon img,
    .dropdown-content img {
        width: 40px;
        height: 40px;
    }

    .ribbon-icon {
        right: 0px;
        top: 120px;
    }

    .icon-text-informacoes,
    .icon-text-entidades {
        margin-bottom: 10px;
    }

    .cards-container {
        padding: 0px;
    }

}

@media (min-width: 501px) and (max-width: 1300px) {

    .logo {
        font-size: 15px;
    }

    .section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .group {
        width: 100%;
    }

    .ribbon-button-pessoas .icon img,
    .dropdown-content img {
        width: 40px;
        height: 40px;
    }

    .icon-text-informacoes,
    .icon-text-entidades {
        margin-bottom: 10px;
    }
}