.nav-container,
.nav {
    display: flex;
    align-items: center;
}

.logos {
    display: flex;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    line-height: 0;
    color: white;
    cursor: pointer;
}

.logoNG {
    font-size: 15px;
    padding: 10px;
    line-height: 0;
    color: white;
    cursor: pointer;
}

.dropdown-toggle:focus {
    outline: none;
    border: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.pessoas-tab,
.dispositivos-tab,
.configuracao-tab,
.ajuda-tab,
.nclock-tab,
.naccess-tab,
.nvisitor-tab,
.npark-tab,
.ndoor-tab,
.npatrol-tab,
.ncard-tab,
.nview-tab,
.nsecur-tab,
.nsoftware-tab,
.nsystem-tab,
.napp-tab,
.ncyber-tab,
.ndigital-tab,
.nserver-tab,
.naut-tab,
.nequip-tab,
.nproject-tab,
.ncount-tab,
.nbuild-tab,
.ncaravan-tab,
.nmechanic-tab,
.nevents-tab,
.nservice-tab,
.ntask-tab,
.nproduction-tab,
.nticket-tab,
.nsales-tab,
.ninvoice-tab,
.ndoc-tab,
.nsports-tab,
.ngym-tab,
.nschool-tab,
.nclinic-tab,
.noptics-tab,
.ngold-tab,
.nsmart-tab,
.nreality-tab,
.nhologram-tab,
.npower-tab,
.ncharge-tab,
.ncity-tab,
.nkiosk-tab,
.nled-tab,
.nfire-tab,
.nfurniture-tab,
.npartition-tab,
.ndecor-tab,
.nping-tab,
.nconnect-tab,
.nlight-tab,
.ncomfort-tab,
.nsound-tab,
.nhome-tab {
    color: white;
}

.tab-content-navbar {
    background-color: white;
    overflow-x: auto;
}

.section {
    display: flex;
    border-bottom: 1px solid #ccc;
    background-color: white;
    overflow-x: auto;
}

.group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid #a1a1a1;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
}

.icon img {
    width: 20px;
    height: 20px;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20px;
    background-color: #ccc;
}

.title {
    font-size: 12px;
}

.ribbon-button-pessoas,
.ribbon-button-entidades {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.icon-text-pessoas,
.dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.ribbon-button-pessoas .icon {
    margin-bottom: 2px;
}

.ribbon-button-ent,
.ribbon-icon-button {
    display: flex;
    align-items: center;
    justify-content: start;
}

.ribbon-button-pessoas,
.ribbon-button-entidades {
    display: flex;
    flex-direction: column;
}

.ribbon-button-ent .icon,
.ribbon-icon-button .icon {
    display: block;
    text-align: center;
}

.ribbon-button-ent .icon,
.ribbon-icon-button .icon {
    display: inline-block;
    margin-right: 5px;
}

.ribbon-button-entidades .icon,
.ribbon-button-entidades .text {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
}

.ribbon-button-pessoas .icon img,
.ribbon-button-entidades .icon img {
    width: 40px;
    height: 40px;
}

.ribbon-button-ent,
.ribbon-icon-button {
    background-color: transparent;
    border-color: transparent;
    font-size: 12px;
}

.icon-text-entidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.ribbon-button-entidades .icon,
.ribbon-button-informacoes .icon {
    margin-bottom: 2px;
}

.ribbon-button,
.ribbon-icon-button {
    display: flex;
    align-items: center;
    justify-content: start;
}

.ribbon-button .icon,
.ribbon-icon-button .icon {
    margin-right: 5px;
}

.ribbon-button-pessoas .icon,
.ribbon-button-pessoas .text,
.ribbon-button-informacoes .icon,
.ribbon-button-informacoes .text {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
    margin-right: 5px;
}

.ribbon-button-pessoas .icon,
.ribbon-button-informacoes .icon {
    margin-bottom: 5px;
}

.ribbon-button,
.ribbon-icon-button {
    background-color: transparent;
    border-color: transparent;
    font-size: 11px;
}

.icon-text-informacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.ribbon-button-informacoes .icon img,
.dropdown-content img {
    width: 50px;
    height: 50px;
}

.user-section {
    margin-left: auto;
    background-color: transparent;
    display: flex;
}

.user-info {
    font-size: 15px;
    padding: .650rem;
    color: white;
    text-transform: uppercase;
}

.user-info:hover {
    border: 1px solid white;
    border-radius: 5px 5px 0 0;
}

.image-text {
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.image-text img {
    margin-right: 15px;
}

.dropdown-icon {
    color: white;
}

.dropdown-icon img {
    width: 30px;
    height: 30px;
}

.ribbon-icon {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 45px;
    width: 30px;
    height: 30px;
}

.btn-light {
    padding: .25rem !important;
}

.nav-tabs {
    border-bottom: none !important;
}

.submenu {
    position: absolute;
    top: 0;
    left: 100%;
    background-color: white;
    border: 1px solid #ddd;
    z-index: 1;
    border-radius: 5px;
}

.submenu>div {
    padding: 8px 16px;
    cursor: pointer;
}

#dropdown-basic::after,
#dropdown-basic-2::after {
    display: none !important;
}

.nav-item:hover,
.nav-link:hover {
    color: white;
    cursor: pointer;
}

.nav-item.active .nav-link {
    border-color: white;
}

@media (max-width: 500px) {

    .pessoas-tab,
    .dispositivos-tab,
    .configuracao-tab,
    .ajuda-tab,
    .nclock-tab,
    .naccess-tab,
    .nvisitor-tab,
    .npark-tab,
    .ndoor-tab,
    .npatrol-tab,
    .ncard-tab,
    .nview-tab,
    .nsecur-tab,
    .nsoftware-tab,
    .nsystem-tab,
    .napp-tab,
    .ncyber-tab,
    .ndigital-tab,
    .nserver-tab,
    .naut-tab,
    .nequip-tab,
    .nproject-tab,
    .ncount-tab,
    .nbuild-tab,
    .ncaravan-tab,
    .nmechanic-tab,
    .nevents-tab,
    .nservice-tab,
    .ntask-tab,
    .nproduction-tab,
    .nticket-tab,
    .nsales-tab,
    .ninvoice-tab,
    .ndoc-tab,
    .nsports-tab,
    .ngym-tab,
    .nschool-tab,
    .nclinic-tab,
    .noptics-tab,
    .ngold-tab,
    .nsmart-tab,
    .nreality-tab,
    .nhologram-tab,
    .npower-tab,
    .ncharge-tab,
    .ncity-tab,
    .nkiosk-tab,
    .nled-tab,
    .nfire-tab,
    .nfurniture-tab,
    .npartition-tab,
    .ndecor-tab,
    .nping-tab,
    .nconnect-tab,
    .nlight-tab,
    .ncomfort-tab,
    .nsound-tab,
    .nhome-tab {
        font-size: 12px !important;
    }
    
    .tab-content {
        max-height: calc(100vh - 200px);
        overflow: auto;
    }

    .nav-container {
        flex-direction: column;
        align-items: center;
    }

    .title-container {
        height: 30px;
    }

    .nav-link {
        text-align: center;
        padding: 5px;
        width: 100%;
        font-size: 13px;
    }

    .user-info {
        font-size: 13px;
    }

    .submenu {
        position: relative;
        top: auto;
        left: 0;
        margin-top: 10px;
    }

    .logo {
        font-size: 15px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .group {
        width: 100%;
    }

    .btn-group {
        display: flex;
        flex-direction: column;
    }

    .ribbon-button-pessoas .icon img,
    .dropdown-content img {
        width: 40px;
        height: 40px;
    }

    .ribbon-icon {
        right: 0px;
        top: 120px;
    }

    .icon-text-informacoes,
    .icon-text-entidades {
        margin-bottom: 10px;
    }

    .cards-container {
        padding: 0px;
    }

}

@media (min-width: 501px) and (max-width: 1200px) {

    .logo {
        font-size: 15px;
    }

    .title-container {
        height: 30px;
    }

    .section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .group {
        width: 100%;
    }

    .ribbon-button-pessoas .icon img,
    .dropdown-content img {
        width: 40px;
        height: 40px;
    }

    .icon-text-informacoes,
    .icon-text-entidades {
        margin-bottom: 10px;
    }
}