body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.profile-avatar {
    width: 40px !important;
    height: 40px !important;
    margin-bottom: 10px;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.chart-container,
.calendar-container,
.carousel-container,
.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0.1, 0.1, 0.1, 0.1);
    border-radius: 5px;
    background: white;
    margin: 10px;
}

.dashboard-cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    background: white;
    background-color: transparent;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: white;
    margin: 10px;
}

.card-img {
    width: 100px !important;
    object-fit: cover;
}

.card-title {
    text-align: center;
    font-size: 24px !important;
    margin-bottom: 0 !important;
}

.card-title.h5 {
    color: #0050a0;
}

.card-link {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    max-width: 160px;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.img-carousel {
    width: 80% !important;
    height: 80% !important;
    object-fit: cover;
}

.dashboard-content {
    display: flex;
    flex: 1;
}

.dashboard-calendar {
    height: 600px;
}

.employee-pie-chart {
    width: 100%;
    max-width: 600px;
    height: 100%;
    padding: 20px;
}

.departments-groups-chart {
    width: 100%;
    max-width: 800px;
    height: 100%;
    padding: 20px;
}

.employee-pie-chart-text {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 100px;
}

.departments-groups-chart-text {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 200px;
}

.expanded-details-container {
    margin: 0;
    padding: 10px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    max-height: 200px;
    overflow-y: auto;
}

.expanded-details-container p {
    margin-bottom: 0.5rem;
    color: #495057;
}

.expanded-details-container p:last-child {
    margin-bottom: 0;
}

.detail-key {
    font-weight: bold;
}

.content-wrapper {
    flex: 1;
}

.footer {
    width: 100%;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.footer p {
    margin: 0;
    font-size: 14px;
}

.modal-scrollable .modal-dialog {
    max-height: calc(100vh - 200px);
}

.modal-body-scrollable {
    max-height: calc(100vh - 300px);
    overflow-y: auto;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content-container {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    margin: 20px 0;
}

.treeview-container {
    overflow: auto;
    min-width: 250px;
}

.datatable-container {
    height: 100%;
    overflow: auto;
    margin-left: 8px;
}

.datatable-title-text {
    font-size: 20px;
    color: #0050a0;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 30px;
    border-bottom: 1px solid #ccc;
}

.dashboard-title-text-dashboard {
    font-size: 20px;
    color: #0050a0;
    font-weight: bold;
    margin-left: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    margin-top: 10px;
}

.dashboard-title-text {
    font-size: 20px;
    color: black;
    font-weight: bold;
    margin-left: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    margin-top: 10px;
}

.datatable-title-text-dashboard {
    font-size: 20px;
    color: #0050a0;
    font-weight: bold;
    margin-left: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    margin-top: 10px;
}

.datatable-header {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    gap: 10px;
}

.search-input {
    height: 30px;
}

.filter-refresh-add-edit-upper-class {
    margin-top: 20px;
    margin-left: 20px;
}

.buttons-container,
.buttons-container-others {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
}

.date-range-search {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 10px;
    gap: 10px;
}

.split {
    display: flex;
    flex-grow: 1;
    height: 100%;
    overflow: auto;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
    min-width: 15px;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
    min-width: 15px;
}

.img-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-modal img {
    width: auto;
    height: auto;
    max-height: 150px;
}

.custom-input-height {
    height: 30px !important;
}

.required-asterisk {
    color: red;
}

.nav-modal {
    margin-top: 20px;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-width: 500px;
    margin: auto;
}

.delete-button {
    display: flex !important;
    margin-left: 5px;
    width: 30px !important;
    height: 30px !important;
    justify-content: center !important;
    align-items: center !important;
}

.dashboard-content-wrapper {
    display: flex;
    flex: 1;
}

.dashboard-carousel-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0.1, 0.1, 0.1, 0.1);
    border-radius: 5px;
    background: white;
    margin: 10px;
}

.dashboard-tabs-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0.1, 0.1, 0.1, 0.1);
    border-radius: 5px;
    background: white;
    margin: 10px;
}

.nav.nav-pills {
    width: 80%;
    margin: 0 auto;
    border-radius: 30px;
    background-color: #D9D9D9;
    overflow: hidden;
    margin-top: 15px;
}

.tab-content-wrapper {
    background-color: rgb(255 255 255 / 10%);
    border-radius: 30px;
    padding: 20px;
    margin: 0 auto;
}

.nav.nav-pills .nav-item {
    width: 20%;
}

.nav.nav-pills .nav-link {
    background-color: transparent;
    border-radius: 0;
    padding: 17px 0;
    color: black;
    width: 100%;
    font-size: 17px;
    letter-spacing: 0.8px;
    font-weight: 700;
    position: relative;
    transition: 0.3s ease-in-out;
    text-align: center;
    z-index: 0;
}

.nav.nav-pills .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background-color: black;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}

.nav.nav-pills .nav-link.active::before {
    width: 100% !important;
}

.nav.nav-pills .nav-link.active {
    color: white;
}

.nav.nav-pills .nav-link:hover {
    background-color: black;
    color: white;
}

.custom-select-font-size {
    font-size: 12px !important;
}

.textarea-large {
    height: 200px !important;
    resize: none !important;
}

.btn-selector-modal-close {
    background-color: #0050a0 !important;
}

.btn-selector-modal-close:hover {
    background-color: #00366d !important;
}

@media (max-width: 500px) {

    .profile-avatar {
        max-width: 20px;
        max-height: 20px;
    }

    .mb-4 {
        margin-bottom: 1rem;
    }

    .table-css {
        margin-bottom: 150px;
    }

    .datatable-header,
    .dashboard-container {
        flex-direction: column;
    }

    .buttons-container,
    .buttons-container-others {
        justify-content: unset;
    }

    .departments-groups-chart-text {
        margin-bottom: 100px;
    }

    .dashboard-calendar {
        width: 350px !important;
    }

    .cards-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .dashboard-content {
        flex-direction: column;
    }

    .treeview-container {
        min-width: 100px;
    }

    .dashboard-cards-container {
        grid-template-columns: 1fr;
    }

    .nav-pills .nav-item {
        width: 100% !important;
    }

    .card {
        margin: 10px auto;
        width: 90%;
    }

    .dashboard-content-wrapper {
        flex-direction: column;
    }
}

@media (min-width: 501px) and (max-width: 1200px) {

    .profile-avatar {
        max-width: 30px;
        max-height: 30px;
    }

    .table-css {
        margin-bottom: 150px;
    }

    .treeview-container .datatable-container {
        flex: 2;
    }

    .departments-groups-chart-text {
        margin-bottom: 100px;
    }

    .datatable-header,
    .dashboard-container {
        flex-direction: column;
    }

    .buttons-container,
    .buttons-container-others {
        justify-content: unset;
    }

    .date-range-search {
        margin-left: 0;
    }

    .cards-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .dashboard-content {
        flex-direction: column;
    }

    .dashboard-cards-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .dashboard-content-wrapper {
        flex-direction: column;
    }
}