body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.profile-avatar {
    max-width: 40px;
    max-height: 40px;
}

img {
    max-height: 50px;
}

.refresh-add-edit-upper-class {
    display: flex;
    margin-left: 200px;
    z-index: 1;
    transform: translateY(35px);
}

.add-button:hover,
.refresh-button:hover {
    background-color: #6495ed;
}

.dashboard {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: space-between;
}

.charts-css {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 100px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #1976d2;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer p {
    margin: 0;
}

.ribbonmenu {
    margin-bottom: 20px;
}

.tabs-holder {
    height: 30px;
    background-color: #1976d2;
}

.tabs-holder p {
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    font-weight: bold;
}

.ribbon-button {
    pointer-events: none;
}

.user-profile {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-right: 20px;
    min-width: max-content;
    position: relative;
}

.user-profile img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    transform: translateY(70px);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    transition: opacity 0.3s ease;
    justify-content: center;
    align-items: center;
}

.dropdown-menu img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.dropdown-menu p {
    margin: 5px 0;
    color: #1976d2;
}

.dropdown-menu button {
    display: block;
    width: 100%;
    padding: 8px 16px; 
    background-color: #1976d2;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.dropdown-menu button:hover {
    background-color: #135ba1;
}
