.background-login {
    background-image: url(/public/bg_login.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-login {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    width: 500px;
}

.logo-login {
    margin-bottom: 20px;
}

.password-field  {
    margin-top: 10px;
    margin-bottom: 10px;
}

.password-field p,
.password-field input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-my-custom-button {
    border-color: #0050a0 !important;
    color: #0050a0 !important;
    background-color: transparent !important;
}

.btn-my-custom-button:hover {
    background-color: #0050a0 !important;
    color: white !important;
}

.custom-progress-bar {
    background: #0050a0 !important;
}

@media (max-width: 500px) {

    .form-login {
        width: 350px;
    }
}