.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content-section > div {
    padding: 10px;
    box-sizing: border-box;
}

.button-terminals-users {
    margin-right: 5px;
    background-color: transparent;
    border-color: #0050a0;
    color: #0050a0;
    height: 100px;
    width: 130px;
}

.button-terminals-users:hover {
    background-color: #0050a0;
    color: #fff;
}

.button-terminals-users-track {
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: transparent;
    border-color: #0050a0;
    color: #0050a0;
}

.button-terminals-users-track:hover {
    background-color: #0050a0;
    color: #fff;
}

.activityTabContent {
    background-color: #0050a0;
    font-size: 12px;
    color: white;
    border-bottom: 1px solid #ccc;
    text-align: center;
    margin-top: 20px;
}

.nav-modal {
    background-color: white;
}

.nav-modal .nav-link {
    color: #0050a0;
}

.nav-modal .nav-link.active {
    color: #0050a0;
}

@media (max-width: 500px) {
    .deviceTabsMobile {
        flex-direction: column;
    }

    .deviceMobile {
        flex: none !important;
    }

    .button-terminals-users-track {
        font-size: 13px !important;
    }

    .button-terminals-users {
        font-size: 13px !important;
    }
}

@media (min-width: 501px) and (max-width: 1200px){
    .deviceTabsMobile {
        flex-direction: column;
    }

    .deviceMobile {
        flex: none !important;
    }

    .button-terminals-users-track {
        font-size: 15px !important;
    }

    .button-terminals-users {
        font-size: 15px !important;
    }
}