.TreeViewContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .SearchBox fieldset {
    margin-top: 8px;
    margin-right: 8px;
    margin-left: 8px;
  }
  
  .SearchBox .MuiInputLabel-root {
    text-align: center;
  }
  
  .SearchBox .MuiInputBase-input {
    text-align: center;
  }