.TreeViewContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
  max-width: 400px;
}

.treeViewFlexItem {
  flex-grow: 1;
  overflow: auto;
  font-size: 10px !important;
}

.SearchBox fieldset {
  margin-top: 4px;
  margin-right: 4px;
  margin-left: 4px;
}

.MuiTreeItem-label {
  font-size: 0.8rem !important;
}

.MuiTreeItem-content {
  padding: 0 !important;
}

.TreeViewContainer .MuiCheckbox-root {
  transform: scale(0.8);
}